<h1 class="mb-4 text-center">Mes parcours</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-8">
  <% @itineraries.each do |itinerary| %>
    <div class="col">
      <div class="card h-100 shadow-sm hover-shadow">

        <% if itinerary.events.any? && itinerary.events.first.image_url.present? %>
  <%= image_tag itinerary.events.first.image_url,
      class: "card-img-top",
      alt: itinerary.title,
      style: "height: 200px; object-fit: cover;" %>
<% elsif itinerary.events.any? %>
  <div class="card-img-top" style="height: 200px; background-color: #e0e0e0; display: flex; align-items: center; justify-content: center;">
    <span class="text-muted">Pas d'image</span>
  </div>
<% end %>

        <div class="card-body d-flex flex-column">

          <h5 class="card-title"><%= itinerary.title %></h5>

          <p class="card-text">
            <%= itinerary.events.map(&:title).join(", ") %>
          </p>

          <div class="mt-auto">
            <%= link_to "Voir plus",
                itinerary_path(itinerary),
                class: "btn button-custom rounded-4 "%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
