.background-custom {
  background-color: #004aad;
}

.button-custom{
  color:#004aad;
}

.button-custom:hover {
  background-color: #ffde59;
  color: #004aad;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f8f9fa;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f8f9fa;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

body{
  padding-bottom: 120px;
  padding-top: 90px;
}
