<footer class="bg-light py-3 mt-auto">
  <div class="container d-flex justify-content-center">
    <%= button_to chats_path, class: "btn btn-footer" do %>
      <i class="fa-solid fa-comment"></i>
    <% end %>

    <%= link_to chats_path, class: "btn btn-footer" do %>
      <i class="fa-solid fa-list"></i>
    <% end %>

    <%= link_to itineraries_path, class: "btn btn-footer" do %>
      <i class="fa-solid fa-bookmark"></i>
    <% end %>
  </div>
</footer>
