<footer class="bg-light py-1 mt-auto">
  <div class="container d-flex justify-content-center gap-4">

    <%= link_to root_path, class: "btn btn-footer" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <%= button_to chats_path, class: "btn btn-footer" do %>
      <i class="fa-solid fa-comment"></i>
    <% end %>

    <%= link_to itineraries_path, class: "btn btn-footer" do %>
      <i class="fa-solid fa-bookmark"></i>
    <% end %>

  </div>
</footer>
