<header>
  <nav class="navbar navbar-custom py-2">
    <div class="container d-flex justify-content-between align-items-center">

      <!-- Logo à gauche (plus grand) -->
      <%= link_to root_path, class: "navbar-brand p-0" do %>
        <%= image_tag "navbar/logo.png", alt: "WhatToDo Logo", height: "70" %>
      <% end %>

      <!-- Bouton de déconnexion (plus petit) -->
      <% if user_signed_in? %>
  <%= link_to destroy_user_session_path,
      data: { turbo_method: :delete },
      class: "btn btn-logout btn-sm px-2 py-1" do %>
      <i class="fas fa-sign-out-alt"></i>
  <% end %>
<% end %>
    </div>
  </nav>
</header>
