<div class="background-custom container-fluid vh-100 d-flex justify-content-center align-items-start pt-5">

  <div class="text-center text-white w-100" style="max-width: 350px;">

    <%= image_tag "navbar/logo.png",
        alt: "WhatToDo Logo",
        class: "logo-taille mb-4" %>

    <p class="mb-5 opacity-75">
      Tu as du temps ? On a le plan !
    </p>

    <div class="d-grid gap-3">
      <%= button_to "Start a chat", chats_path,
          class: "btn button-custom btn-light btn-lg rounded-4 fw-semibold" %>
    </div>

  </div>

</div>
