


.btn-footer:hover {
  color: #ffde59;
}

.btn-footer:active {
  background-color: #084298;
}

.footer-custom {
  padding: 6px 0;
}

.btn-footer {
    color: #004aad;
  padding: 4px 8px;
  font-size: 16px;
}

footer i {
  font-size: 18px;
}
